{% extends "layout.html" %}

{% block title %}Fan Quiz!{% endblock %}

{% block content %}
  <h1>How much do you know about Studio Ghibli?</h1>

  <form action={{ url_for("renderAnswerPage") }} method="POST">
	Who was the head founder for Studio Ghibli?<br>
	<img src="miyazaki.jpg" alt="Miyazaki" width="200px" height="200px"><br>
	Answer:<br>
	<input type="text" name="answer1">
	<br>
	What was the title of the first film released by Studio Ghibli?<br>
	<img src="ghibli-first.jpg" alt="cits" width="200px" height="200px"><br>
	Answer:<br>
	<input type="text" name="answer2">
	<br>
	"Spirited Away" follows the story of a young girl whose parents were turned into what farm animal?<br>
	<img src="sa.jpg" alt="sa" width="200px" height="200px"><br>
	Answer:<br>
	<input type="text" name="answer3">
	<br>
	In "Kiki's Delivery Service", what was the name of Kiki's beloved cat sidekick?<br>
	<img src="jiji.png" alt="kds" width="200px" height="200px"><br>
	Answer:<br>
	<input type="text" name="answer4">
	<br>
	Where does Mei first encounter Totoro in "My Neighbor Totoro"?<br>
	<img src="totoro.jpg" alt="totoro" width="200px" height="200px"><br>
	Answer:<br>
	<input type="text" name="answer5">
	<br>
	<input type="submit" value="submit">
  </form>
{% endblock %}