{% extends "layout.html" %}

{% block title %}Mood Quiz!{% endblock %}

{% block content %}
    <div id="mood-quiz">
        {% if state == 'quiz' %}
            <h1>Which movie u feelin</h1>

            <form action={{ url_for("moodQuiz") }} method="POST">
                <div class="question">
					If you had to choose, which color would you say you are today?<br>
					<input type="radio" name="question1" value="A">Blue<br>
					<input type="radio" name="question1" value="B">Green<br>
					<input type="radio" name="question1" value="C">Red<br>
                </div>
                <div class="question">
                    Which activity sounds the most appealing to you?<br>
					<input type="radio" name="question2" value="A">Self discovery journey<br>
					<input type="radio" name="question2" value="B">Relaxing<br>
					<input type="radio" name="question2" value="C">Going outside/exploring<br>
                </div>
                <div class="question">
                    Which genre interests you?<br>
					<input type="radio" name="question3" value="A">Romance<br>
					<input type="radio" name="question3" value="B">Adventure<br>
					<input type="radio" name="question3" value="C">Action<br>
                </div>
                <div class="question">
                  If you could be anywhere in the world right now where would you be?<br>
					<input type="radio" name="question4" value="A">Coffee shop<br>
					<input type="radio" name="question4" value="B">A beach<br>
					<input type="radio" name="question4" value="C">A forest<br>
                </div>
                <div class="question">
                    What food are you craving most?<br>
					<input type="radio" name="question5" value="A">Fresh baked bread<br>
					<input type="radio" name="question5" value="B">Something sweet<br>
					<input type="radio" name="question5" value="C">Pizza<br>
                </div>
			</form>
        {% endif %}
    </div>
        
{% endblock %}