{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home</h1>
<img src="studiog.png" id="home-img" alt="what happen">
<p id="intro"> "Hello! Welcome to our <br> Studio Ghibli fan website. Whether <br> you're a die
hard fan or only recently getting into Miyazaki's films, <br> we have something for you! <br> Feel free to browse <br>
and post to forum or take our quizzes! <br> Create your own fan profile to store your personal scores and let others <br> 
know what kind of fan you are!</p>




{% endblock %}